<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" href="./src/angular-pickadate.css">

	<script src="./angular.min.js"></script>
	<script src="./angular-animate.js"></script>
	<script src="./angular-locale_zh-cn.js"></script>
	<script src="./src/angular-pickadate.js"></script>
	<style>
		body{
			margin: 0;
			font-size: 14px;
		}
		*,*:before,*:after{
			box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    -webkit-box-sizing: border-box;
		}
		input:focus{
			outline: none;
			-webkit-appearance: none;
			appearance: none;
			border-radius: 0;
		}

		div,a{
		   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

		}
		.lll{
			position: relative;
			width: 300px;
		}
	</style>
</head>
<body ng-controller="demoCtrl">
<div class="lll">
	<!-- <div pickadate ng-model="date"></div> -->
<h3>一个月以内的时间范围</h3>
<hr>
开始：	<input type="text" pickadate ng-model="date1" default-date="presetDate" format="yyyy/MM/dd" max-date="maxDate1" min-date="minDate1" readonly="true" > <br>
结束：	<input type="text" pickadate ng-model="date2" format="yyyy/MM/dd" max-date="maxDate2" min-date="minDate2" readonly="true">
<h3>禁选周六</h3>
<hr>	
<input type="text" pickadate ng-model="date3" format="yyyy-MM-dd" disabled-dates="disabledDatesFn(date)" readonly="true">
<h3>周一起始位置</h3>
<hr>	
<input type="text" pickadate ng-model="date4" format="yyyy-MM-dd" week-starts-on="1" readonly="true">
<h3>不固定行数</h3>
<hr>	
<input type="text" pickadate ng-model="date5" format="yyyy/MM/dd" multiple readonly="true">
</div>
	<script type="text/javascript">

		var app = angular.module("myApp",['pickadate','ngAnimate']);
		app.controller("demoCtrl", function ($scope,$filter) {
				var day = new Date();
				var today = $filter('date')(day,'yyyy/MM/dd');
				var lastMonth = day.getFullYear() +'/'+ day.getMonth() +'/'+ day.getDate();
				$scope.presetDate = lastMonth;
				$scope.maxDate1 = today;
				$scope.maxDate2 = today;
				$scope.firstChoose = null;
				$scope.$watch('date1',function() {
						if($scope.date1){
							var flagDatetime = new Date($scope.date1);
							var flagMax = flagDatetime.getFullYear() +'/'+ parseInt(flagDatetime.getMonth()+2) + '/' + flagDatetime.getDate();
							flagMax = Date.parse(flagMax) > Date.parse(day) ? today : flagMax;
							$scope.minDate2 = $scope.date1;
							$scope.maxDate2 = flagMax;
						}
				})
				$scope.$watch('date2',function() {
					if($scope.date2) {
						var flagDatetime2 = new Date($scope.date2);
						var flagMin = flagDatetime2.getFullYear() +'/'+ flagDatetime2.getMonth() + '/' + flagDatetime2.getDate();
						$scope.minDate1 = flagMin;
						$scope.maxDate1 = $scope.date2;
					}
				})
			
			    $scope.disabledDatesFn = function(date) {
			        return date.getDay() === 6; // Disable every Sunday
			    }
		})
	</script>
</body>
</html>
