.angularjs-datetime-picker{
  position: absolute;
  left: 0;right: 0;
}
.mask{
  position: fixed;
  left: 0;top:0;
  width: 100%;bottom:0;
  background-color: rgba(0,0,0,.7);
  z-index: 100;
}
.angularjs-datetime-inner {
  color: #333;
  font: normal 14px sans-serif;
  border: 1px solid #ddd;
  display: inline-block;
  background: #fff;
  z-index: 10000;
  position: relative;
  width: 100%;
}
.angularjs-datetime-inner > .adp-month {
  text-align: center;
  line-height: 22px;
  padding: 10px;
  background: #fcfcfc;
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: 1px solid #ddd;
  position: relative;
}
.angularjs-datetime-inner > .adp-month > button {
  color: #555;
  font: normal 14px sans-serif;
  outline: none;
  position: absolute;
  background: transparent;
  border: none;
  cursor: pointer;
}
.angularjs-datetime-inner > .adp-month > button:hover {
  color: #333;
}
.angularjs-datetime-inner > .adp-month > button.adp-prev {
  left: 10px;
}
.angularjs-datetime-inner > .adp-month > button.adp-next {
  right: 10px;
}
.angularjs-datetime-inner  .adp-days {
  margin: 10px;
  text-align: center;
  overflow: hidden;
}
.adp-day-of-week > div,.adp-day-of-day > div {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 14.28%;
  line-height: 28px;
  float: left;
}
.adp-day-of-week > div{
  font-weight: bold;
}
.adp-day-of-day > div.leadingDays{
  opacity: 0.35;
}
.adp-day-of-day > div.selected{
  background: #e0e0e0;
}
.adp-day-of-day > div.weekend{
  color: #f50;
}