@font-face {font-family: "webfont";
  src: url('../fonts/webfont.eot'); /* IE9*/
  src: url('../fonts/webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/webfont.woff') format('woff'), /* chrome、firefox */
  url('../fonts/webfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('../fonts/webfont.svg#webfont') format('svg'); /* iOS 4.1- */
}
.web-font {
  font-family:"webfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
body{
  margin: 0;
  background-color: #f8f8f8;
  font-size: 14px;
  color: #787878;
  line-height: 1.5;
  font-family: PingHei,'PingFang SC','Helvetica Neue',Helvetica,STHeitiSC-Light,Microsoft yahei,Arial,sans-serif;
}
a{
    color: #333;
    text-decoration: none;
}
img{
    border:0;max-width:100%;vertical-align: top;
}
.clearfix:after,.clearfix:before{
    display: table;
    content: ""
}
.clearfix:after{
    clear: both;
}
.clearfix{
    zoom:1
}
.container{
    width: 96%;
    max-width: 1320px;
    margin: 0 auto;
    position: relative;
    height: 100%;
}
.fl{float: left}
.fr{float: right}
.ta-r{text-align: right;}
.half{width: 50%;float: left;}
.bfc{overflow: hidden;}
.styled{margin: 0;padding: 0;}
ul.styled{list-style: none;}
h2,h3,h4,h5{color:#222;font-weight: 500;}
/* ---header--- */
.header{
    height: 105px;
    border-bottom: 5px solid #000;
    transition:all .2s linear;
}
.index-header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10000;
  background: #fff;
}
.logo{
  display: block;
  margin-top: 26px;
}
.logo h1{
  width: 280px;
  margin: 0;
  height: 53px;
  display: block;
  background: url(../images/logo.png) no-repeat;
  color: transparent;
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
  .logo h1{
    background: url(../images/logo@2x.png) no-repeat;
    background-size: 100% 100%;

  }
}
ul.menu{
    margin: 0;
    padding: 0;
    list-style: none;
}
ul.menu li{
    float: left;
    line-height: 125px;
    height: 105px;
    margin: 0 20px;
    position: relative;
}
ul.menu li a{
    font-size: 18px;
}
ul.menu li.active:after{
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 5px;
  top: 105px;
  background-color: #e5004f;
}
input[type=checkbox] {
    position: absolute;
    box-sizing: border-box;
    padding: 0;
    top: -9999px;
    left: -9999px;
}
.label{
    display: none;
}
/*footer*/
.footer{
  padding: 50px 0;background-color: #1a1a1a;
  font-size: 14px;color:#868686;
}
.section .footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  padding: 20px 0;
}
.footer a{color:#afafaf;}
.bot-logo{margin-right: 20px;}
.bot-logo img{width: 102px !important;}
.bot-nav{margin-bottom: 10px;}
.bot-nav a{margin: 0 5px;}
.bot-nav a:hover{color:#fff;}
.bot-info{line-height: 2;}
/* index page */
#section0{
  background: url(../images/banner-1.jpg) no-repeat center 105px;
  -webkit-background-size: auto 100%;
  background-size: auto 100%;
}
#section1{
  background: url(../images/section-1.jpg) no-repeat center top;
  -webkit-background-size: auto 100%;
  background-size: auto 100%;
}
#section2{
  background: url(../images/section-2.jpg) no-repeat center top;
  -webkit-background-size: auto 100%;
  background-size: auto 100%;
}
#section3{
  background: url(../images/section-3.jpg) no-repeat center top;
  -webkit-background-size: auto 100%;
  background-size: auto 100%;
}
#section4{
  background: url(../images/section-4.jpg) no-repeat center top;
  -webkit-background-size: auto 100%;
  background-size: auto 100%;
}
.app{
  position: absolute;
  right:20px;bottom: 90px;
}
.app img{
  margin-right: 20px;
}
.app-download a{
  display: block;margin-bottom: 15px;
}
.iphone{
  height: 75%;
  position: absolute;
  width: 50%;
  top:20%;
  text-align: center;;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -ms-transition: all .3s linear;
  transition: all .3s linear;
}
.iphone.right{
  right: 0;
  text-align: center;;
}
.iphone.last{
  height: 70%;
}
.iphone img{
  height: 100%;
}
.section-txt{
  width: 50%;
  position: absolute;
  right: 0;top:35%;
}
.section-txt.left{
  left:0;
  padding-left: 10%;
}
.section-txt h2,.section-txt h3{
  color:#fff;font-weight: 400;font-family: webfont;
  opacity: 0;
}
.section-txt h2{font-size: 36px;margin-bottom: 20px;}
.section-txt h3{font-size: 24px;margin-top: 20px;}
.section-txt p{color:#afafaf;font-family: webfont;opacity: 0;}
.iphone.left{
  transform: translateX(-15%);
  opacity: 0;
}
.section.fp-completely .iphone.left{
  transform: translateX(0);
  opacity: 1
}
.iphone.right{
  transform: translateX(15%);
  opacity: 0;
}
.section.fp-completely .iphone.right{
  transform: translateX(0);
  opacity: 1
}
/* artivle */
.page-h1{
  text-align: center;
  color:#000;font-size: 30px;font-weight: normal;
}
.article-entry{
  padding:0px 0 50px 0;font-size: 16px;line-height: 1.8;
}
.article-entry h2,.article-entry h3{font-size: 30px;}
.article{
  color:#333;line-height: 1.7;
}
.article strong{
  font-weight: 400;
}
/* jobs */
ul.job-list li.half{
  width: 47%;padding-right: 3%;
}
.page-title{font-size: 30px;margin-top: 50px !important;}
.article-entry h3.title-jobs{font-size: 20px;margin-bottom: 5px;}
/* news */
.news-list{
  padding: 60px 0;
}
.news-entry{
  margin-bottom: 20px;
}
.news-entry .panel{
  margin-right: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
}
.news-entry .thumb{
  width: 220px;
  height: 180px;
  margin-right: 20px;
}
.news-entry .thumb img{
  width: 100%;height: 100%;
}
.news-info h3{margin: 0;}
.vicon-tag{
  width: 20px;height: 20px;
  display: inline-block;
  vertical-align: middle;
  background: url(../images/tags@18.png) no-repeat center center;
  margin-right: 5px;
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
  .vicon-tag{
    background: url(../images/tags.png) no-repeat center center;
    background-size: 100%;
  }
}
.news-tag a{
  color:#1D7EE2;
}
.aside{
  width: 320px;
  margin-left: 20px;
}
.widget{
  background-color: #f3f3f3;
  margin: 40px 0;border:1px solid #e2e2e2;
}
.widget h3{
  margin: 0;border-bottom: 1px solid #e2e2e2;
  height: 40px;line-height: 40px;text-indent: 20px;
  background-color: #f2f2f2;
}
.widget ul li{
  line-height: 1.2;margin-bottom: 10px;
}
.widget ul li a:hover{text-decoration: underline;color:#e5004f}
.mainbody{overflow: hidden;}
.article-title{
  margin-top: 40px;text-align: center;font-weight: normal;color:#333;
}
.article-meta{
  border-bottom: 1px dashed #ddd;
  text-align: center;
}
.article-meta a:hover{
  text-decoration: underline;
  color:#e5004f;
}
.article-entrys{padding-bottom: 60px;}
.article-entrys h2,.article-entrys h3,.article-entrys h4{
  color:#666;
}
/*contact*/
.maps{
  margin:50px 25px;
  height: 0;overflow: hidden;
  padding-bottom: 82%;
}
.barcode{
  margin: 0 30px 50px 0;
}
@media (max-width: 845px){
  input[type=checkbox] {
        position: absolute;
        box-sizing: border-box;
        padding: 0;
        top: -9999px;
        left: -9999px;
    }
    .label {
        position: absolute;
        right: 0;
        top: 40px;
        display: block;
        height: 30px;
        width: 50px;
        line-height: 30px;
        text-align: center;
        user-select: none;
    }
    input[type=checkbox]:checked~ul.menu {
        display: block;
        opacity: 1;
       transform: scale(1);
       -webkit-transform: scale(1)
    }
    ul.menu{
        margin: 0;
        visibility: visible;
        opacity: 0;
        display: block;
        width: 120px;
        background: #f8f8f8;
        right: 0;
        z-index: 1000;
        position: absolute;
        top: 65px;
        padding: 10px;
        border-radius: 2px 2px 3px 3px;
        padding: 0;
        transform: scale(0);
        -webkit-transform: scale(0);
        transform-origin: 80% 0;
        -webkit-transform-origin: 80% 0;
        transition: transform ease .2s,opacity ease .2s;
        -webkit-transition: transform ease .2s,opacity ease .2s;
        box-shadow: 0px 2px 2px #dddddd;
    }
    ul.menu li{
        display: block;
        margin: 0;
        width: 100%;
        line-height: 38px;
        height: 38px;
        text-align: center;
    }
    ul.menu li.active:after{
      display: none;
    }
    ul.menu li a{font-size: 16px;display: block;}

    .aside,.half,.mainbody{
      width: 100%;
    }
    .aside{display: none;}
    .news-entry{margin: 20px 0;}
    .news-list{
      padding-top: 0;
    }
    .news-entry .thumb{
      width: 30%;
      height: 0;
      padding-bottom: 30%;
    }
    .news-entry .thumb img{height: auto}
    .page-title{font-size: 24px;}
    ul.job-list li.half{
      width: 100%;
      padding-right: 0;
    }
      .news-info h3{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 14px;
      }
    .news-info p{
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      margin: 5px 0;
      font-size: 12px;
    }
    .news-tag a{font-size: 12px;}
    .article-entry h2, .article-entry h3{font-size: 24px;}
    .bot-nav{
      display: none;
    }
    .footer{
      font-size: 12px;
      padding: 20px 0;
    }
    .footer .fr{width: 100%;text-align: center;}
}
@media (max-width:450px){
  .iphone img{height: auto;}
  .iphone{top:35%;}
  .section-txt.left{padding-left: 0;}
  .section-txt h2{font-size: 28px;}
  .section-txt h3{font-size: 20px;}
  .section .footer{display: none;}
  #section0 {
      background: url(../images/banner-1.jpg) no-repeat -200px 105px;
      -webkit-background-size: auto 100%;
      background-size: auto 100%;
  }
  .bot-logo{display: none;}
  .maps{
    margin: 20px 10px 0;
  }
  .footer .fr .ta-r{
    text-align: left;
  }
}
