        <h2>小小demo</h2>
        <ul class="case-list">
            <li><a href="http://code.feitai.me/wp-angular/#/" target="_blank"><img src="assets/images/angularjs-logo.png" alt=""/>
                <div class="bfc">
                    <h3>基于AngularJs+wordpress的移动端webapp网站demo</h3>
                    <p>我的第一个angularjs小demo,结合wordpress的网站数据，打造专属适配移动端的网站</p>
                </div>
                    <div class="barcode"><img src="assets/images/wp.png" alt=""></div>
                </a>
            </li>
            <li>
                <a href="http://resume.bytecats.com" target="_blank"><img src="assets/images/zepto-logo.png" alt=""/>
                    <div class="bfc">
                        <h3>基于ZeptoJs的移动端个人简历小demo</h3>
                        <p>zepto+css3制作单页场景切换花样简历</p>
                    </div>
                    <div class="barcode"><img src="assets/images/resume.png" alt=""></div>
                </a>
            </li>
            <li>
                <a href="http://code.feitai.me/clock/" target="_blank"><img src="assets/images/css3.png" alt=""/>
                    <div class="bfc">
                        <h3>CSS3+JS模拟实现基于锤子UI风格的小时钟</h3>
                        <p>纯属模仿锤子时钟的设计风格，简约而新颖。</p>
                    </div></a>
            </li>
        </ul>
        <h2>参与项目</h2>
<ul class="case-list">
    <li><a href="http://www.wb1688.com/" target="_blank"><img src="assets/images/wb-logo.png" alt=""/>
        <div class="bfc">
            <h3>网邦云平台——商品分销平台</h3>
            <p>会员用户中心基本实现以 前端css组件化+js组件化的整套前端构架--java平台项目</p>
        </div></a>
    </li>
    <li>
        <a href="http://m.wb1688.com/" target="_blank"><img src="assets/images/wsw-logo.png" alt=""/>
            <div class="bfc">
                <h3>网邦微商务平台——打造一站式移动端服务（微官网+云画册+微商城+云邀请+微名片）</h3>
                <p>平台用户中心基于AngularJS+sea.js+SemanticUI构建</p>
            </div></a>
    </li>
    <li>
        <a href="http://www.jd-eb.com/" target="_blank"><img src="assets/images/qyl-logo.png" alt=""/>
            <div class="bfc">
                <h3>中国网店第一村-青岩刘</h3>
                <p>“e起青岩刘，摇响创业梦”</p>
            </div></a>
    </li>
    <li>
        <a href="http://www.smemall.com.cn/" target="_blank"><img src="assets/images/wsw-logo.png" alt=""/>
            <div class="bfc">
                <h3>深圳中小企业服务平台</h3>
                <p>通过IT手段打造全新的中小企业服务生态环境</p>
            </div></a>
    </li>
</ul>