<div class="header ta-c">
    <h2>Work Experience</h2>
</div>
<h2>供职单位</h2>
<ul class="list">
    <li><span class="label">2013.9-至今</span>
        <strong>深圳网邦信息技术有限公司 </strong> （web前端开发工程师） <br/>
       
        1、负责公司主营中小企业服务项目平台，电商分销平台前端框架构建，及各类交互设计效果与实现。 <br/>
        2、负责整个公司移动端（园区服务平台、移动商城、微官网等webapp项目）前端构建 <br/>
        3、制作基于html5的微信邀请函，画册，以及相关活动抽奖小游戏。


    </li>
    <li><span class="label">2013.1-2013.8</span>
        <strong>深圳五月阳光网络科技有限公司</strong> （网页设计开发） <br/>
        
        主要负责企业网站项目的制作开发，积累了一定的css3知识与加深js的理解与运用。
    </li>
    <li><span class="label">2012.8-2013.1</span>
        <strong>深圳润筑科技有限公司 </strong> （市场推广营销） <br/>
        
        主要负责公司建筑行业相关软件(易利项目管理软件)的市场推广以及其它施工项目进度管理软件售后跟踪维护工作。
    </li>
    <li><span class="label">2008.8-2012.6</span>
        东莞某制作企业<br/>
        储备干部/生产管理/物料成本控制等专员 <br/>
    </li>
</ul>