@charset "UTF-8";

@function rem($px){
	@return $px/75px * 1rem;
}
*,*:before,*:after{
	box-sizing:border-box;-webkit-box-sizing:border-box;
}
body{
	overflow-x: hidden;
}
.clearfix:before,.clearfix:after{
	content: "";
	display: table;
}
.clearfix:after{
	clear: both;
}
.fade-transition{
  transition: all .3s ease;
}
.fade-enter, .fade-leave {
  opacity: .5;
  filter: alpha(opacity=50);
}
.wapper{
	margin: 0 auto;
	max-width: 750px;
}
#loading .ui-loading{
	left: 0;right: 0;top: 0;bottom: 0;position: absolute;
	margin: auto;
}
.ui-tiled li a{
	display: block;line-height: 56px;width: 100%;
	color: #676767;
}


.ui-container{
	border-bottom: 56px solid transparent;
}
.article-header{
	.article-h1{
		font-size: 18px;line-height: 1.2;margin-bottom: 5px;margin-top: 10px;color: #000;
	}
	.article-mate{
		font-size: 12px;color:#999;
		margin-bottom: 10px;
	}
}
.article-entry{
	h1,h2,h3,h4,h5,h6,div,p,ul,ol,table,img{
		margin-bottom: 10px;
	}
}
//home
.slideBox {
	position: relative;
	overflow: hidden;
	height: rem(400px);
	.hd{
		position: absolute;width: 100%;bottom: 0;height:30px;
		ul{width: 100%;text-align: center;}
		li{
			display: inline-block;
			width: 6px;height: 6px;
			background-color: #fff;line-height: 30px;
			overflow: hidden;margin: 0 3px;
			border-radius: 100%;
			opacity: .7;
			&.on{background-color: #333;}
		}
	}
}
	/* 本例子css -------------------------------------- */
	.tabBox{ margin:10px auto;   }
	.tabBox .hd{ height:40px; line-height:40px; font-size:16px; overflow:hidden; background:#eee;  padding:0 10px;  }
	.tabBox .hd h3{ float:left; font-size:20px; }
	.tabBox .hd h3 span{color:#ccc; font-family:Georgia; margin-left:10px;  }
	.tabBox .hd ul{ float:right;  }
	.tabBox .hd ul li{ float:left;  padding:0 5px; vertical-align:top;  }
	.tabBox .hd ul li.on a{ color:#B63B34; display:block; height:38px; line-height:38px;   border-bottom:2px solid #B63B34;  }
.tabBox1-bd{
	display: -webkit-box;
	width: 300%;
	transition:all 0.3s linear;
	&.oneclass{
		transform:translateX(0);
	}
	&.twoclass{
		transform:translateX(-10rem);
	}
	&.threeclass{
		transform:translateX(-20rem);
	}
	.con{
		width: 100%;
		-webkit-box-flex: 1;
	}
}
// 产品
.ui-pro-list{
	margin: 0 10px;
}
.ui-pro-list li{
	border-bottom: 1px solid #ddd;
	background-color: #fff;
	float: left;
	width: 50%;text-align: center;
	.thumb-img{
		display: block;
		margin: 8px auto 0;
		width: 4rem;
		height: 4rem;
		img{
			width: 100%;height: 100%;
		}
	}
	h4{
		font-size: 14px;margin: 5px 0;
	}
}
.ui-pro-list li:nth-child(2n){
	border-left: 1px solid #ddd;
}